@import "assets/css/datepicker.css";
@import "assets/css/transition.css";
@import "assets/css/toast.css";
@import "assets/css/video.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 16px;
}

body {
    font-family: "Noto Sans TC";
    background-color: #f7f8fc;
}

.none-scrollbar::-webkit-scrollbar {
    display: none;
}

.card_group::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.card_group::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.card_group:hover::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.card_group::-webkit-scrollbar-track {
    background-color: transparent;
}
